* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}

body {
    min-height: 100vh;
    background-color: #fcfffc;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    position: relative;
    padding: 30px;
    width: 400px;
    height: 500px;
    border: none;
    border-radius: 7px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    background-color: #fcfffc;
}

#form-title {
    font-size: 25px;
    margin: 10px;
    text-align: center;
}

label {
    color:#575757;
    margin-top: 20px;
    font-size: 15px;
}

.input-container input {
    width: 100%;
    padding: 7px;
    font-size: 14px;
    background-color: #fcfffc;
    color: #575757;
    border: 2px solid #b7b7b7;
    border-radius: 5px;
}

.input-container input:focus {
    outline: 0;
    border-color: #12b8ff;
}

.input-container {
    margin-top: 15px;
    margin-bottom: 15px;
}

.input-container.success input{
    border-color: rgb(1, 176, 1);
}

.input-container.error input{
    border-color: #ff0000;
}

.error-label {
    visibility: hidden;
    color: #ff0000;
}

#submit-form-btn {    
    position: absolute;
    width: 85%;
    background-color: #fea214;
    color: #fff;
    font-size: 15px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    left: 30px;
    margin-top: 5px ;
}

#submit-form-btn:hover {
    background-color: #ec9512;
    cursor: pointer;
}